html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000080;
}

.wc_height {
    height: inherit;
}
.wc_table-scroll {
    /*float: left;*/
    /*width: 50%;*/
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Verdana, Geneva, sans-serif;
    color: #00FFFF;
}

.wc_panel tr {
    line-height: 10px;
}

.currentRow {
    background-color: #008080;
}

.selectedRow {
    color: #FFFF38;
}

td {
    padding: 3px 2px 2px 2px;
}